<%= form_for @person, html: { multipart: true } do |f| %>

      <% if person.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

              <ul>
              <% person.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
        </div>
      <% end %>

<div class="row center">
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="mother" id="mother_test" checked="checked" />
    <label for="mother_test">Mother</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="father" id="father_test" />
    <label for="father_test">Father</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="brother" id="brother_test" />
    <label for="brother_test">Brother</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="sister" id="sister_test" />
    <label for="sister_test">Sister</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="son" id="son_test" />
    <label for="son_test">Son</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="daughter" id="daughter_test" />
    <label for="daughter_test">Daughter</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="husband" id="husband_test" />
    <label for="husband_test">Husband</label>
  </div>
  <div class="col s4 m4 l3">
    <input name="person[relation]" type="radio" value="wife" id="wife_test" />
    <label for="wife_test">Wife</label>
  </div>
</div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true%>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age, :required => true %>
  </div>
  <div class="field">
    <%= f.label :town %>
    <%= f.text_field :town, :required => true %>
  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story %>
  </div>
  <div class="section"></div>

    <div class="row center">
      <div class="col s4 m4 l3">
        <input name="person[missing]" type="radio" value="true" id="missing_true" checked="checked" />
        <label for="missing_true">Missing</label>
      </div>
      <div class="col s4 m4 l3">
        <input name="person[missing]" type="radio" value="false" id="missing_false" />
        <label for="missing_false">Found</label>
      </div>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :avatar %>
    </div>

    <div class="section"></div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create</button>

    <% end %>
