<h1>User Profile</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Town</th>
    </tr>
  </thead>

  <tbody>
    <% @user_profile.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.age %></td>
        <td><%= profile.town %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h2>Search for people</h2>
<%= render 'partials/searchform', person: @person %>

  <h1>Family</h1>

  <table class="table table-hover">
    <thead>
      <tr>

        <th>Relation</th>
        <th>Name</th>
        <th>Age</th>
        <th>Town</th>
        <th>Story</th>
        <th>Missing</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @person.each do |person| %>
        <tr>

          <td><%= person.relation %></td>
          <td><%= person.name %></td>
          <td><%= person.age %></td>
          <td><%= person.town %></td>
          <td><%= person.story %></td>
          <td><%= person.missing %></td>
          <td><%= link_to 'Show', person %></td>
          <td><%= link_to 'Edit', edit_person_path(person) %></td>
          <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'FIND BUTTON', pages_results_path %>
<br>
<br>
<br>
<%= link_to 'Create New Person', new_person_path %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8"></div>
    <div class="col-xs-6 col-md-4"></div>

  </div>
</div>
