<h1>Results for Mother</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Relation</th>
      <th>Name</th>
      <th>Age</th>
      <th>Town</th>
      <th>Story</th>
      <th>Missing</th>
    </tr>
  </thead>
  <tbody>
    <% @person.each do |person| %>
      <tr>
        <td><%= person.relation %></td>
        <td><%= person.name %></td>
        <td><%= person.age %></td>
        <td><%= person.town %></td>
        <td><%= person.story %></td>
        <td><%= person.missing %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Results</th>
    </tr>
  </thead>
  <tbody>
    <% @person.each do |person| %>
      <tr>
        <td><%= search_for_missing_mother(person) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
