<h1>Search results</h1>

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th>Relation</th>
      <th>Name</th>
      <th>Age</th>
      <th>Town</th>
      <th>Story</th>
      <th>Missing</th>

    </tr>
  </thead>

  <tbody>
  <% @person.each do |person| %>
        <tr>
          <td><%= person.relation %></td>
          <td><%= person.name %></td>
          <td><%= person.age %></td>
          <td><%= person.town %></td>
          <td><%= person.story %></td>
          <td><%= person.missing %></td>
          <td></td>
        </tr>
      <% end %>

    </tbody>
  </table> -->

  <table class="table table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Age</th>
        <th>Town</th>
        <th>Story</th>
        <th>Missing</th>
      </tr>
    </thead>

<!-- @person = list of missing:true user.id=current_user -->

    <tbody>
      <% @person.each do |person| %>
          <td><% @queries = person.search_for_missing_person %></td>
          <% @queries.each do |query| %>
          <tr>
            <td><%= query.name %></td>
            <td><%= query.age %></td>
            <td><%= query.town %></td>
            <td><%= query.story %></td>
            <td><%= query.missing %></td>
            <!-- <td><%#= query.user_id %></td> -->
            <td></td>
          </tr>
          <% end %>

      <% end %>
    </tbody>
  </table>
